<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.richard.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.richard.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birth" property="birth" jdbcType="DATE" />
    <result column="registtime" property="registtime" jdbcType="TIMESTAMP" />
    <result column="companyid" property="companyid" jdbcType="VARCHAR" />
    <result column="storeid" property="storeid" jdbcType="VARCHAR" />
  </resultMap>
</mapper>